<div class="container">
  <div class="row">
    <h2 class="bg-light">注文履歴詳細</h2>
  </div>
  <table class="table text-left">
    <tr>
      <th>購入者</th>
      <td><%= @order.end_user.family_name %> <%= @order.end_user.first_name %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.postal_code %> <%= @order.address %> <%= @order.name %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.method_of_payment_i18n %></td>
    </tr>
     <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch, local: true do |f| %>
    <tr>
      <th>注文ステータス</th>
      <td>
        <div class="form-group form-inline">
          <%= f.select :status, Order.statuses_i18n.keys.map{|k| [I18n.t("enum.order.status.#{k}"), k]}, {}, class: 'form-control col-4' %>
          <%= f.submit '更新', class: "btn btn-sm btn-success m-2" %>
        </div>
      </td>
    </tr>
  </table>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
          <tbody>
            <% @order_items.map do |order_items| %>
            <tr>
              <td>
                <%= order_items.item.name %><br>
              </td>
              <td><%= order_items.price %></td>
              <td><%= order_items.quantity %></td>
              <td><%= order_items.price*order_items.quantity %></td>
              <td><%= order_items.production_status_i18n %></td>
            </tr>

          </tbody>
      </table>
    </div>
    <div class="col-5">
      <table class="text-right">
        <tr>
          <th><h4><strong>商品合計</strong></h4></th>
          <td><h4><%= @order.billing_amount-@order.postages %></h4></td>
        </tr>
        <tr>
          <th><h4><strong>送料</strong></h4></th>
          <td><h4><%= @order.postages %></h4></td>
        </tr>
        <tr>
          <th><h4><strong>請求合計金額</strong></h4></th>
          <td><h4><strong><%= @order.billing_amount %></strong></h4></td>
        </tr>
      </table>
    </div>
  </div>
  </div>
  <div>

      <% end %>
</div>